@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

/** General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffb4a2;
  height: 100vh;
  position: relative;
  max-width: 1400px;
  margin: auto;
}

section,
header {
  padding: 1.5em 2em;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  white-space: pre-wrap;
}

.button {
  border: none;
  color: white;
  background-color: #ef476f;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1.3em;
  text-align: center;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgba(239, 71, 111, 0.5);
}

.active {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid black;
}

.bg-white {
  background-color: white;
  width: 100%;
}

.no-underline {
  border-bottom: none !important;
}

/** Footer */

footer {
  display: grid;
  place-items: center;
}

footer .social {
  margin-top: 2.5em;
  display: flex;
  gap: 1.5em;
}

footer .social a > * {
  font-size: 2em;
}

#cart + footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}
