@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@200;400&display=swap');

/* Table of Contents: 
  1. General Styles 
  2. Header
  3. Home
  4. About
  5. Contact
  6. Shop
  7. Cart 
  8. Footer
*/

/*  1. General Styles */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffb4a2;
  height: 100vh;
  position: relative;
  max-width: 1400px;
  margin: auto;
}

section,
header {
  padding: 1.5em 2em;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  white-space: pre-wrap;
}

.button {
  border: none;
  color: white;
  background-color: #ef476f;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 1.3em;
  text-align: center;
  transition: background-color 0.2s;
}

.button:hover {
  background-color: rgba(239, 71, 111, 0.5);
}

.bg-white {
  background-color: white;
  width: 100%;
}

/* 2. Header */

.navbar {
  display: flex;
}

header h2 {
  font-size: 1.8rem;
}

.nav-btn {
  border: none;
  background: transparent;
  cursor: pointer;
  display: none;
  font-size: 1.8rem;
}

.active {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid black;
}

nav {
  display: flex;
}

.site-links > *,
.social-link {
  margin-right: 1em;
  width: max-content;
}

.social-link > *,
.cart-icon > * {
  font-size: 1.3rem;
}

nav .social {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.cart-icon-container {
  position: relative;
}

.cart-quantity-container {
  position: absolute;
  top: -1em;
  right: -0.3em;
  font-size: 1rem;
}

/* Header mobile */

.mobile-navbar {
  display: none;
  padding: 1.5em 2em;
}

@media screen and (max-width: 650px) {
  .toggle {
    display: none;
  }

  nav {
    display: none;
  }

  header h2 {
    margin: auto;
  }

  .nav-btn {
    display: block;
  }

  .no-scroll {
    overflow: hidden;
  }

  .responsive-nav-header {
    display: flex;
  }

  .responsive-nav-navbar {
    display: flex;
    flex-direction: column;
    gap: 1.2em;
    align-self: center;
    margin-bottom: auto;
  }

  .site-links {
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    font-size: 2rem;
    margin-top: 1em;
    margin-bottom: 0.5em;
  }

  .site-links > * {
    margin: auto;
  }

  .responsive-nav-navbar .social {
    display: flex;
  }

  .social-link {
    margin: auto !important;
  }

  .responsive-nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: #ffb4a2;
    z-index: 1;
  }
}

/*  End Header */

/*  3. Home */

/*  3.1. blog header */

.blog-header {
  display: flex;
  gap: 5em;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.blog-header > * {
  flex: 1 1 35.9rem;
}

.blog-header-img {
  height: 37rem;
  width: 100%;
}

.blog-description h3 {
  margin-bottom: 2em;
  font-size: clamp(1.1rem, 0.35rem + 1.6vw, 1.3rem);
}

.blog-description p {
  font-size: clamp(1.3rem, -0.2rem + 3.2vw, 1.7rem);
  font-weight: 700;
  max-width: 40ch;
}

@media screen and (max-width: 750px) {
  .blog-header {
    flex-wrap: wrap;
  }

  .blog-header-img {
    width: inherit;
  }

  .blog-description {
    text-align: center;
  }

  .blog-description p {
    margin: auto;
  }
}

/* 3.2. recent posts */

.post-header {
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
  max-width: max-content;
}

.post-header h3 {
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: #ef476f;
}

.post-header p {
  max-width: 75ch;
  font-size: 1.1rem;
  font-weight: 300;
  margin: auto;
}

.recent-posts-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2375px;
  align-items: center;
  width: 100%;
}

.post {
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin: 0 1em;
  margin-bottom: 1.5em;
}

.post-img {
  width: 100%;
}

.post img {
  width: inherit;
}

.post-date {
  font-size: 1.3rem;
}

.post-name {
  font-size: 1.8rem;
  max-width: 20ch;
}

.post-name a {
  color: #ef476f;
}

.post p {
  max-width: 35ch;
}

.read-more {
  width: max-content;
  border-bottom: #ef476f solid 2px;
  color: #ef476f;
}

@media screen and (max-width: 800px) {
  .recent-posts-container {
    height: max-content;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .post {
    flex: 1 1 100%;
  }

  .post-img img {
    height: inherit !important;
  }
}

/*  3.3. newsletter */

.newsletter-form-container {
  height: 600px;
}

.newsletter-form {
  background-image: url('./images/cake2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}

.form-header {
  display: block;
}

.form-header > * {
  margin-bottom: 1.3em;
}

.form-header > h3 {
  font-size: 1.4rem;
}

.form-input {
  display: flex;
  justify-content: center;
  gap: 1.5em;
}

.form-input > label {
  display: none;
}

.form-input input {
  padding: 1.3em;
  width: 15rem;
  font-size: 1.1rem;
}

@media screen and (max-width: 450px) {
  .form-input {
    flex-wrap: wrap;
  }
}

/*  End Home */

/*  4. About */

.about-container {
  display: flex;
  white-space: pre-wrap;
  gap: 2.5em;
}

.about-description h2 {
  font-size: clamp(1.3rem, -0.0333rem + 4.2667vw, 2.1rem);
  max-width: 35ch;
}

.about-description p {
  max-width: 65ch;
  font-size: clamp(1rem, -0.6rem + 3.2vw, 1.2rem);
}

.about-description > * {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

.about-img {
  height: clamp(20rem, -0.2rem + 64.64vw, 40.2rem);
  width: 40%;
}

@media screen and (max-width: 800px) {
  .about-container {
    flex-wrap: wrap;
  }

  .about-container > * {
    flex: 1 1 100%;
  }
}

/*  End About */

/*  5. Contact */

.contact {
  margin: auto;
  width: 50%;
}

/*  5.1. contact header */

.contact-header {
  margin-top: 5em;
}

.contact-header h2 {
  font-size: clamp(0.1rem, 50vw, 2.5rem);
}

.contact-header p {
  font-size: 1.1rem;
  margin: 2.5em auto;
  line-height: 1.7em;
}

.contact-info {
  margin-bottom: 2.5em;
}

.contact-info h3 {
  font-size: 1.3rem;
}

.address-social .social {
  display: flex;
  gap: 1em;
}

.address-social .social > * {
  font-size: 1.5rem;
}

@media screen and (max-width: 850px) {
  .contact {
    margin: initial;
    width: 100%;
  }
}

/*  5.2. contact form */

.contact-form-container {
  margin-top: 5em;
  margin-bottom: 2em;
}

#contact-form {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
  width: 100%;
}

#contact-form input {
  padding: 0.8em;
  border: none;
}

#contact-form .button {
  width: 8em;
}

.contact-form-input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.full-name {
  display: flex;
  border: none;
  gap: 1.5em;
}

.name {
  font-size: 0.9rem;
}

#message {
  flex: 1 1 10em;
  resize: none;
  border: none;
}

/*  End Contact */

/*  6. Shop */

.shop-items {
  margin-top: 8em;
  padding: 1.5em 3em;
}

.shop-item {
  display: flex;
  gap: 5em;
  height: max-content;
  margin-bottom: 5em;
  justify-content: center;
  width: 100%;
}

.shop-item > * {
  flex: 1 1 100%;
}

.item-img,
.item-description {
  height: unset;
}

.item-img {
  max-width: 100%;
}

.item-description {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.item-description h1 {
  font-size: clamp(1.3rem, 0.3667rem + 4.2667vw, 2.5rem);
}

.item-price {
  font-size: 1.3rem;
}

.item-details {
  line-height: 1.5em;
  font-size: clamp(1rem, 0.8444rem + 0.7111vw, 1.2rem);
  max-width: 45ch;
}

.item-quantity {
  display: flex;
  flex-direction: column;
}

.item-quantity-lable {
  font-size: 1.1rem;
}

#quantity {
  font-size: 1.2rem;
  padding: 1.4em;
  width: 8em;
  border: black 1px solid;
}

@media screen and (max-width: 800px) {
  .shop-item {
    flex-wrap: wrap;
  }

  .item-details {
    max-width: 100%;
  }
}

/*  End Shop */

/*  7. Cart */

.header > .container,
.cart-empty > .container {
  padding-bottom: 0;
  padding-top: 0;
}

.header > .container > h3 {
  font-size: 1.5rem;
}

/*  7.1 cart empty */

.cart-empty {
  display: flex;
  flex-direction: column;
  gap: 2em;
}

.cart-empty p {
  font-size: 1.1rem;
}

.cart-empty .button {
  width: 15rem;
}

/*  7.2 cart item */

.cart-item {
  display: flex;
  border-bottom: hsla(0, 0%, 39%, 0.2) solid 2px;
  padding-bottom: 2em;
  margin-bottom: 5em;
  position: relative;
}

.cart-item-name {
  margin-right: auto;
  display: flex;
  gap: 2em;
}

.cart-item-name h3 {
  max-width: clamp(5rem, -100rem + 480vw, 20rem);
  font-size: clamp(1rem, -0.5833rem + 6.6667vw, 1.5rem);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.cart-item-img-container {
  width: clamp(4rem, -6.6667rem + 21.3333vw, 8rem);
  height: clamp(4rem, -6.6667rem + 21.3333vw, 8rem);
}

.cart-item-img {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-size: cover;
}

.increment-decrement {
  margin-right: 10em;
  display: flex;
  gap: 1em;
  justify-content: center;
  align-items: center;
  height: max-content;
}

.cart-btn {
  border: none;
  height: max-content;
  background-color: initial;
  cursor: pointer;
}

.container {
  display: flex;
  padding: 0.5rem;
}

.icon-container {
  border-radius: 50%;
  font-size: 1rem;
}

.icon-container:hover {
  background-color: white;
}

.cart-item-number {
  font-size: 1.2rem;
  width: 2rem;
  background-color: transparent;
  text-align: center;
  border: none;
}

.cart-item-price {
  display: flex;
  gap: 1.5em;
  width: 15ch;
  font-size: 1.2rem;
  border: none;
  height: max-content;
  background-color: initial;
  justify-content: center;
  align-items: center;
}

@media screen and (max-width: 800px) {
  .cart-item-name {
    margin-bottom: 1em;
  }

  .increment-decrement {
    position: absolute;
    bottom: 0;
    left: 0;
  }

  .cart-item-full-price {
    position: absolute;
    bottom: 0;
    right: 0;
  }

  .delete {
    margin-left: auto;
  }
}

/*  7.3 checkout */

.checkout {
  width: 25em;
  margin-left: auto;
  margin-right: 5em;
}

.subtotal {
  display: flex;
  width: inherit;
}

.subtotal > * {
  font-size: 1.4rem;
}

.full-price {
  margin-left: auto;
}

.checkout-btn {
  width: inherit;
  margin-top: 2em;
}

@media screen and (max-width: 950px) {
  .checkout {
    width: 100%;
    margin: initial;
  }
}

/*  End Cart */

/*  8. Footer */

footer {
  display: grid;
  place-items: center;
}

footer .social {
  margin-top: 2.5em;
  display: flex;
  gap: 1.5em;
}

footer .social a > * {
  font-size: 2em;
}

#cart + footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

/*  End Footer */
