* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Source Sans Pro', sans-serif;
  background-color: #ffb4a2;
}

nav,
section,
.blog-header {
  padding: 1.5em;
  font-size: 1rem;
}

a {
  text-decoration: none;
  color: black;
}

p {
  white-space: pre-wrap;
}

button {
  border: none;
}

.bg-white {
  background-color: white;
  width: 100%;
}

/* 2. navbar */

.navbar {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.title {
  margin-right: auto;
}

.title h2 {
  font-size: 1.8rem;
}

.link {
  margin-right: 1em;
}

.active {
  padding-bottom: 0.3rem;
  border-bottom: 2px solid black;
}

.logo {
  margin-right: 0.5em;
}

.logo img {
  height: 1.5rem;
  width: 1.5rem;
}

.cart-icon {
  margin-left: 0.5em;
  position: relative;
}

.cart-quantity-container {
  position: absolute;
  top: -1em;
  right: -0.3em;
  font-size: 1rem;
}

/* 3. blog header */

.blog-header {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 5em;
  justify-items: center;
  align-items: center;
}

.blog-description h3 {
  margin-bottom: 2em;
  font-size: 1.3rem;
}

.blog-description p {
  font-size: 1.7rem;
  font-weight: 700;
  max-width: 40ch;
}

/* 4. recent posts */

.intro {
  margin: auto;
  margin-top: 5em;
  margin-bottom: 5em;
  text-align: center;
}

.intro h3 {
  font-size: 1.8rem;
  margin-bottom: 1em;
  color: #ef476f;
}

.intro p {
  max-width: 75ch;
  font-size: 1.1rem;
  font-weight: 100;
  margin: auto;
}

.posts {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  height: 2300px;
}

.post {
  width: max-content;
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  margin-bottom: 1.5em;
}

.post img {
  width: 21rem;
}

.post-date {
  font-size: 1.3rem;
}

.post-name {
  font-size: 1.8rem;
  width: 20ch;
}

.post-name a {
  color: #ef476f;
}

.post p {
  max-width: 35ch;
}

.read-more {
  width: max-content;
  border-bottom: #ef476f solid 2px;
  color: #ef476f;
}

/* 5. TBD */

.contact {
  background-image: url('./images/cake2.jpg');
  background-repeat: no-repeat;
  background-size: 95% 500px;
  background-position: center;
  height: 600px;
  display: grid;
  place-items: center;
  text-align: center;
  color: white;
}

.form-header > * {
  margin-bottom: 1.3em;
}

.form-header > h3 {
  font-size: 1.4rem;
}

.form-input > label {
  display: none;
}

.form-input input {
  padding: 1.3em;
  width: 25em;
  font-size: 1.1rem;
}

.form-input .submit {
  padding: 1.3em;
  margin-left: 1em;
  color: white;
  background-color: #ef476f;
  font-size: 1.1rem;
  cursor: pointer;
  transition: background-color 0.5s;
}

.submit:hover {
  background-color: rgba(239, 71, 111, 0.5);
}

/* 6. footer */

footer {
  display: grid;
  place-items: center;
}

.social {
  margin-top: 2.5em;
}

.social a {
  margin-right: 1.5em;
}

.social img {
  height: 2rem;
  width: 2rem;
}

/*  .7 about */

.about {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  white-space: pre-wrap;
  gap: 2.5em;
}

.test h2 {
  font-size: 2.1rem;
  width: 35ch;
}

.test p {
  width: 65ch;
  font-size: 1.2rem;
}

.test > * {
  margin-bottom: 1.5em;
  line-height: 1.4em;
}

/*  8. Contact */

.center {
  margin: auto;
  width: max-content;
}

.test1 {
  margin-top: 5em;
}

.test1 h2 {
  font-size: 2.5rem;
}

.test1 p {
  font-size: 1.1rem;
  margin: 2.5em auto;
  line-height: 1.7em;
  width: 58ch;
}

.contact-info {
  margin-bottom: 2.5em;
}

.contact-info h3 {
  font-size: 1.3rem;
}

.address-social .social {
  margin: initial;
}

.address-social .social a {
  margin-right: 1em;
}

.address-social .social img {
  height: 1.5rem;
  width: 1.5rem;
}

.contact-form {
  margin-top: 5em;
  margin-bottom: 2em;
}

#contact-form {
  display: flex;
  gap: 1.5em;
  flex-direction: column;
}

#contact-form input {
  padding: 0.8em;
  border: none;
}

#contact-form .submit {
  margin: initial;
  width: 20%;
}

.contact-form-input {
  display: flex;
}

.contact-form-input > * {
  flex: 1 1 100%;
}

.name {
  border: none;
  gap: 1.5em;
}

.form-text {
  font-size: 0.9rem;
}

.fname,
.lname,
.email,
.message {
  display: flex;
  flex-direction: column;
}

#message {
  flex: 1 1 10em;
  resize: none;
  border: none;
}
